.footer {
    padding: 70px 0;
    box-shadow: $box-shadow;
    font-size: 1.1rem;
    background-color: #ddd;

    &__about {
        p {
            margin-bottom: 2rem;
            
            & span{
                font-weight: 800;
                font-size:2rem;
            }
        }
    }

    &__title {
        text-transform: uppercase;
        margin-bottom: 2rem;
        font-weight: 600;
    }

    &__content {
        p {
            & span{
                display: inline;
                margin-right:0.5rem;
            }
            margin-bottom: 1.25rem;
        }
    }
}
